<h1>Machine Overview</h1>

<ul>
    <% _.each( machines, function(info, iMachine) { %>
        <li>
            <div>
                <a href="/machines/<%- info.name %>"><h2><%- info.name %></h2></a>
                <hr>
                <div class="span6">
                    Status: <%- info.status %>
                </div>
                <br><br><br>
            </div>
        </li>        
    <% }); %>  
</ul>

